{% extends 'base.html' %}

{% block title %}
İletişim - {{ block.super }}
{% endblock %}

{% block body %}
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand text-left">
        <h1 class="h1-seo">İletişim</h1>
          <h4>Site:</h4>
          <p>https://www.araznovel.com</p>
            <br>
            <h4>email:</h4>
          <p>omeralicaylar5@gmail.com</p>
        </div>
    </div>
  </div>


{% endblock %}
