<div class="wrapper">
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="title">NovelsTr•</h1>
      </div>
      <div class="col-md-3">
        <p class="text-success">Bu site Djano ile yazılmıştır. Backend kodlaması Ömer Ali Çaylar tarafından yapılmıştır.Bu sitede bulunan seriler fan yapımı olduğundan telif haklarını ihlal eden bir seri bulunursa omeralicaylar5@gmail.com adresine mesaj atınız.</p>
        <p class="text-success" style="color:#337ab7;"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>ArazNovel</span><span>. </span></p>
      </div>
      <div class="col-md-3">
        <div class="text-success"><a class="brand" href="{##}"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          <dt>Site:</dt>
          <dd>https://www.araznovel.com</dd>
            <br>
            <dt>email:</dt>
          <dd><a href="mailto:#">omeralicaylar5@gmail.com</a></dd>
        </div>
      </div>
      <div class="col-md-3">
        <h4 class="title"><i class="tim-icons icon-spaceship"></i> Bu siteye sponsor ol</h4>

      </div>
    </div>
  </div>
</footer>
</div>
